@font-face {
  font-family: "HankenGrotesk";
  font-display: swap;
  font-weight: 100 900;
  src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
}

:root {
  --clr-primary-hsl-400: 252, 100%, 67%;
  --clr-primary-hsl-500: 253, 70%, 46%;
  --clr-secondary-hsl-400: 241, 81%, 54%;
  --clr-secondary-hsl-500: 241, 72%, 46%;

  --clr-primary-400: hsl(var(--clr-primary-hsl-400));
  --clr-primary-500: hsl(var(--clr-primary-hsl-500));
  --clr-secondary-400: hsl(var(--clr-secondary-hsl-400));

  /* Neutral Colors */
  --clr-white-hsl: 0, 0%, 100%;
  --clr-paleBlue-hsl: 221, 100%, 96%;
  --clr-lavender-hsl: 241, 100%, 89%;
  --clr-darkGrayBlue-hsl: 224, 30%, 27%;

  --clr-neutral-100: hsl(var(--clr-white-hsl));
  --clr-neutral-200: hsl(var(--clr-paleBlue-hsl));
  --clr-neutral-300: hsl(var(--clr-lavender-hsl));
  --clr-neutral-700: hsl(var(--clr-darkGrayBlue-hsl));

  /* Gradient Colors */
  --gradient-primary: linear-gradient(
    var(--clr-primary-400),
    var(--clr-secondary-400)
  );

  --gradient-to-transparent: linear-gradient(
    var(--clr-primary-500),
    hsla(var(--clr-secondary-hsl-500), 0)
  );

  /* Icon Colors */
  --clr-accent-1: 0, 100%, 67%;
  --clr-accent-2: 39, 100%, 56%;
  --clr-accent-3: 166, 100%, 37%;
  --clr-accent-4: 234, 85%, 45%;

  --font-family-default: "HankenGrotesk", sans-serif;

  /* Font Weight */
  --fw-regular: 500;
  --fw-bold: 700;
  --fw-xbold: 800;

  /* Font Size px to rem */
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-80: 5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

image,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--font-family-default);
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-700);
  font-size: var(--fs-18);
  font-weight: var(--fw-bold);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 600px) {
  body {
    display: grid;
    place-content: center;
  }
}
/* Result & Summary Containers */
.grid-flow-1 {
  display: grid;
  align-content: start;
  gap: 0.4rem;
}
/* Summary Scores */
.grid-flow-2 {
  display: grid;
  gap: 0.8rem;
}

.grid-flow-1[data-spacing="large"] {
  gap: 1.2rem;
}

.section-title {
  font-weight: var(--fw-xbold);
  font-size: var(--fs-18);
}

@media (min-width: 600px) {
  .grid-flow-1 {
    gap: 0.7rem;
  }

  .grid-flow-1[data-spacing="large"] {
    gap: 1.3rem;
  }
}

/* Result-Summary Container */
.result-summary {
  display: grid;
}

/* Result Container Styles */
.result {
  /* background: var(--gradient-primary); */
  background: linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%);
  color: var(--clr-neutral-300);
  border-radius: 0 0 1.6rem 1.6rem;
  text-align: center;
  padding: 1.2rem 2.2rem 2rem;
}

.result-score {
  width: 7rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin-inline: auto;
  background: var(--gradient-to-transparent);
  display: grid;
  place-content: center;
  color: hsla(241, 100%, 89%, 0.5);
  font-size: 0.8rem;
  border: ;
}

.result-score span {
  display: block;
  font-size: 2.8rem;
  font-weight: var(--fw-xbold);
  color: var(--clr-neutral-100);
  line-height: 1;
}

.result-rank {
  font-size: var(--fs-24);
  color: var(--clr-neutral-100);
  line-height: 1.3;
}

.result-info {
  font-weight: var(--fw-regular);
  font-size: 0.8rem;
  line-height: 1.3;
}

/* Summary Container Styles */
.summary {
  padding: 1.2rem 1.5rem 1.5rem;
}

.flex-group {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  flex-wrap: wrap;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.85rem;
  border-radius: 0.6rem;
  background-color: hsl(var(--item-color), 0.05);
}

.summary-item svg {
  stroke: hsl(var(--item-color));
}

.summary-item-title {
  color: hsl(var(--item-color));
  font-weight: var(--fw-bold);
}

.summary-item[data-item-type="accent-1"] {
  --item-color: var(--clr-accent-1);
}

.summary-item[data-item-type="accent-2"] {
  --item-color: var(--clr-accent-2);
}

.summary-item[data-item-type="accent-3"] {
  --item-color: var(--clr-accent-3);
}

.summary-item[data-item-type="accent-4"] {
  --item-color: var(--clr-accent-4);
}

.summary-score {
  color: hsl(var(--clr-darkGrayBlue-hsl), 0.5);
}

.summary-score span {
  color: var(--clr-neutral-700);
}

/* Button Styles */
.btn {
  background: var(--clr-neutral-700);
  color: var(--clr-neutral-100);
  border-radius: 100vw;
  border: 0;
  text-decoration: none;
  padding: 0.825rem 0px;
  width: 100%;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background: var(--gradient-primary);
}

/***********************************************/
/*        Media Query Result Styles            */
/***********************************************/
@media (min-width: 600px) {
  .result-summary {
    margin-inline: 0.8rem;
    width: 36.8rem;
    height: 25.6rem;
    grid-template-columns: repeat(2, 1fr);
    border-radius: var(--fs-32);
    background: var(--clr-neutral-100);
    box-shadow: 0px 30px 60px 0px hsla(224, 82%, 58%, 0.15);
  }

  .section-title {
    font-weight: var(--fw-bold);
    font-size: var(--fs-24);
  }

  .result {
    border-radius: var(--fs-32);
    height: inherit;
    padding: 1.9rem 2.7rem 2.75rem;
  }

  .result-score {
    width: 10rem;
    margin-top: 0.35rem;
    font-size: var(--fs-18);
  }

  .result-score span {
    font-size: 3.6rem;
    line-height: 1;
  }

  .result-rank {
    font-size: var(--fs-32);
    line-height: 1.4;
  }

  .result-info {
    line-height: 1.3;
    font-size: var(--fs-18);
  }
}

/****************************************/
/*      Media Query Summary Styles      */
/****************************************/
@media (min-width: 600px) {
  .summary {
    height: inherit;
    padding: 1.9rem 2rem 2.3rem;
  }

  .btn {
    margin-top: 0.65rem;
  }
}
